.assingment{
    height: 635px;
    width: 1340px;
    background-color: #ffe5b4;
    border-radius: 30px;
    border: dashed;
}
 .assingment .ronaldo{
    height: 317.5px ;
    width: 670px;
    border-radius: 30px;
    border: dashed;
}   

    